<div class="container">
    <div class="logo">
      <img src="../../assets/wikipedia.png" alt="Wikipedia Logo">
      <div class="wikipedia">
        <h1>Wikipedia</h1>
      </div>
      <p>The Free Encyclopedia</p>
    </div>
    <div class="languages">
        <div><a routerLink="/english" routerLinkActive="active">English<br><span>6,836,000+ articles</span></a></div>
        <div><a routerLink="/deutsch" routerLinkActive="active">Deutsch<br><span>2,919,000+ Artikel</span></a></div>
        <div><a routerLink="/espanol" routerLinkActive="active">Español<br><span>1,960,000+ artículos</span></a></div>
        <div><a routerLink="/chinese" routerLinkActive="active">中文<br><span>1,425,000+ 条目 / 條目</span></a></div>
        <div><a routerLink="/japanese" routerLinkActive="active">日本語<br><span>1,419,000+ 記事</span></a></div>
        <div><a routerLink="/russian" routerLinkActive="active">Русский<br><span>1,984,000+ статей</span></a></div>
        <div><a routerLink="/french" routerLinkActive="active">Français<br><span>2,618,000+ articles</span></a></div>
        <div><a routerLink="/italian" routerLinkActive="active">Italiano<br><span>1,868,000+ voci</span></a></div>
        <div><a routerLink="/portuguese" routerLinkActive="active">Português<br><span>1,126,000+ artigos</span></a></div>
        <div><a routerLink="/urdu" routerLinkActive="active">فارسی<br><span>700,000+ مقاله</span></a></div>
      </div>
    <div class="search">
      <input type="text" placeholder="Search Wikipedia">
      <button>Search</button>
    </div>
  </div>
  